* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

h1 {
  color: #CF4D6F;
}

form {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 85px;
}

input, textarea, select, button {
  border-radius: 9px;
  border: 1px solid hotpink;
  padding: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

input:focus, textarea:focus, select:focus {
  background-color: #f6c7cf;
}
option {
  font-size: 18px;
  font-weight: 500;
}

select {
  font-size: 18px;
  font-weight: 700;
}
.container-infos {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
  background-image: linear-gradient(45deg, #0a6aa6b8,#177ea6cc);
  overflow: hidden;
}

.img-card {
  width: 200px;
  height: 240px;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #F2D5DB,#F2AEBB, pink, pink);

}

.preview {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #F2D5DB,#F2AEBB, pink, pink);
  padding: 30px;
  border: 1px solid pink;
}

.atributs-all {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F2D5DB;
}

.description {
  height: 90px;
  background-color: #F2D5DB;
}

.superTrunfo-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #F2AEBB;
  overflow: hidden;
}

.attr {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #f2aebab7;
  border-radius: 8px;
}

.rare-card {
  height: 25px;
  background-color: #F2A81D;
}

.card-prev{
  width: 50%;
}

h1 {
  text-align: center;
}

.title-cards {
  display: block;
  padding: 10px;
  margin: 20px 500px;
}

.filtros {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 20px 500px;
}

label {
  margin: 5px 10px;

}

textarea {
  resize: none;
}

.filter-name {
  width: 500px;
}
.filter-rare {
  width: 250px;
}